<!-- Contact Information Sidebar -->
<div class="panel panel-default sidebar-menu">
    <div class="panel-heading">
        <h3 class="panel-title">Quick Contact</h3>
    </div>
    <div class="panel-body">
        <p><strong>Evo PT Group</strong></p>
        <p>
            <i class="fa fa-phone"></i> (469) 825-3900<br>
            <i class="fa fa-envelope"></i> info@evoptgroup.com<br>
        </p>
        <hr>
        <p><strong>Hours:</strong><br>
        Monday - Friday: 7:00 AM - 7:00 PM<br>
        Saturday: 8:00 AM - 12:00 PM</p>
        <hr>
        <p><strong>We Accept:</strong><br>
        • Most insurance plans<br>
        • Medicare<br>
        • Self-pay options available</p>
        <hr>
        <a href="https://scheduling.go.promptemr.com/onlineScheduling?w=2408&s=DL" class="btn btn-template-main" target="_blank">Book Appointment</a>
    </div>
</div>